<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script>
        var socket = new SockJS('/ws');
        var stompClient = Stomp.over(socket);
        stompClient.connect({}, function(frame) {
            stompClient.subscribe('/topic/public', function(chatMessage) {
                showMessage(JSON.parse(chatMessage.body));
            });
        });

        function sendMessage() {
            var messageInput = document.getElementById('messageInput');
            var senderInput = document.getElementById('senderInput'); // sender 이름을 입력받는 input box
            var message = messageInput.value;
            var sender = senderInput.value; // sender 이름 가져오기
            stompClient.send("/app/chat.sendMessage", {}, JSON.stringify({
                'roomId': 'room1',
                'sender': sender, // sender 이름 사용
                'message': message
            }));
            messageInput.value = '';
        }

        function showMessage(message) {
            var messageElement = document.createElement('li');
            messageElement.textContent = message.sender + ': ' + message.message;
            document.getElementById('messageList').appendChild(messageElement);
        }
    </script>
</head>
<body>
<ul id="messageList"></ul>
<input type="text" id="senderInput" placeholder="Enter your name"> <!-- sender 이름을 입력받는 input box 추가 -->
<input type="text" id="messageInput">
<button onclick="sendMessage()">Send</button>
</body>
</html>